.contact {
  position: relative;
  min-height: 100vh;
  padding: 10px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 36px;
  font-weight: 500;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon {
  min-width: 60px;
  height: 60px;
  display: flex;
  background: #31d8ee;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}

.container .contactInfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text h3 {
  font-weight: 500;
  color: #00bcd4;
}

.contactForm {
  width: 40%;
  padding: 40px;
}

.contactForm h2 {
  font-size: 30px;
  font-weight: 500;
}

.contactForm h3 {
  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  font-size: 16px;
  
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #00bcd4;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 6px;
  font-size: 16px;
  margin: 17px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span {
  color: #31d8ee;
  font-size: 14px;
  transform: translateY(-28px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100%;
  background: #00bcd4;
  color: #fff;
  border: none;
  border-radius: 11px;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

.accordion-body h2 {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: -3rem;
  font-size: 2.4rem;
  font-weight: 500;
}

.accordion {
  background-color: #00bcd4;
  color: white;
  width: 800px;
  margin: 90px auto;
}

.accordion-content {
  position: relative;
  z-index: 2;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: -3rem;
  /* max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease; */
}

.accordion-content p.small {
  font-weight: 400;
  font-size: 15px;
  line-height: 1;
  margin: 0 0 2rem;
}

.accordion .faqs-container {
  position: relative;
  margin: 10px 10px;
}

.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 1.2rem;
  cursor: pointer;
}

.accordion .label::before {
  content: "+";
  color: white;
  position: absolute;
  top: 50%;
  right: 2px;
  font-size: 30px;
  transform: translateY(-50%);
}

.accordion .content {
  /* position: relative; */
  background: #00bcd4;
  /* height: 0;
  font-size: 18px;
  text-align: justify;
  width: auto;
  overflow: hidden; 
  transition: 300ms ease-in-out; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 2px solid white;
}

.accordion .faqs-container.active .content {
  /* height: auto; */
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.accordion .faqs-container.active .label::before {
  content: "x";
  font-size: 30px;
  /* transition: transform 0.5s ease-in; */
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}