<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet" href="../styles/adminStyles/general.css">
    <link rel="stylesheet" href="../styles/adminStyles/aside-style.css">
    <link rel="stylesheet" href="../styles/adminStyles/main-section-style.css">
    <link rel="stylesheet" href="../styles/adminStyles/right-style.css">
    <link rel="stylesheet" href="../styles/adminStyles/media-queries.css">
</head>

<body>
    <div class="container">

        <!-- The first column of the grid, aside section starts here. -->
        <aside>
            <div class="top">
                <div class="logo">
                    <!-- <img src="./assets/kickstart-logo.png" alt="" srcset=""> -->
                    <h2><span class="danger">K</span>ick<span class="danger">S</span>tart</h2>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>

            <div class="sidebar">
                <!-- This will have all the options in the admin dashboard. -->
                <a onclick="getPage('dashboard')" class="dashboard">
                    <span class="material-icons-sharp">
                        grid_view
                    </span>
                    <h3>Dashboard</h3>
                </a>
                <a onclick="getPage('users')" class="users">
                    <span class="material-icons-sharp">
                        person_outline
                    </span>
                    <h3>Users</h3>
                </a>
                <a onclick="getPage('orders')" class="orders">
                    <span class="material-icons-sharp">
                        receipt_long
                    </span>
                    <h3>Orders</h3>
                </a>
                <a onclick="getPage('messages')" class="messages">
                    <span class="material-icons-sharp">
                        mail_outline
                    </span>
                    <h3>Messages</h3>
                    <!-- This span will be the notification on the message icon. -->
                    <span class="message-count">12</span>
                </a>
                <a onclick="getPage('products')" class="products">
                    <span class="material-icons-sharp">
                        inventory
                    </span>
                    <h3>Products</h3>
                </a>
                <a onclick="getPage('reports')" class="reports">
                    <span class="material-icons-sharp">
                        report_gmailerrorred
                    </span>
                    <!-- For errors -->
                    <h3>Reports</h3>
                </a>
                <a onclick="getPage('settings')" class="settings">
                    <span class="material-icons-sharp">
                        settings
                    </span>
                    <h3>Settings</h3>
                </a>
                <a onclick="getPage('addProducts')" class="addProducts">
                    <span class="material-icons-sharp">
                        add
                    </span>
                    <h3>Add Products</h3>
                </a>
                <a href="/admin/login">
                    <span class="material-icons-sharp">
                        logout
                    </span>
                    <h3>Logout</h3>
                </a>
            </div>
        </aside>
        <!-- Aside section ends here. -->

        <!-- Main section starts here. -->
        <%-data.body%>
            <!-- Main Section ends here. -->

            <div class="right">
                <div class="top">
                    <button id="menu-btn">
                        <span class="material-icons-sharp">
                            menu
                        </span>
                    </button>
                    <div class="theme-toggler">
                        <span class="material-icons-sharp active">light_mode</span>
                        <span class="material-icons-sharp">dark_mode</span>
                    </div>
                    <div class="profile">
                        <div class="info">
                            <p>Hey, <b>Suman</b></p>
                            <small class="text-muted">Admin</small>
                        </div>
                        <div class="profile-photo">
                            <img src="../assets/admin-panel/founderPicture.jpeg" alt="" srcset="">
                        </div>
                    </div>
                </div>
            </div>

    </div>
    <script>

       sideMenu = document.querySelector("aside");
       menuBtn = document.querySelector("#menu-btn");
       closeBtn = document.querySelector("#close-btn");
       themeToggler = document.querySelector('.theme-toggler');

        // Show sidebar
        menuBtn.addEventListener('click', () => {
            sideMenu.style.display = 'block';
        })

        // Close sidebar
        closeBtn.addEventListener('click', () => {
            sideMenu.style.display = 'none';
        })

        // Change theme
        themeToggler.addEventListener('click', () => {
            document.body.classList.toggle('dark-theme-variables');
            themeToggler.querySelector('span:nth-child(1)').classList.toggle('active');
            themeToggler.querySelector('span:nth-child(2)').classList.toggle('active');
        })

        getPage = async (params) => {
            let page = await fetch(`/admin/${params}`, {
                method: 'GET',
                headers: {
                    Authorization: `${localStorage.getItem('token')}`
                }}).then((res) => res.text())
            document.querySelector('html').innerHTML = page;
            let scriptTags = document.querySelectorAll('script')
            scriptTags.forEach((tag) =>{
            let scriptTag = document.createElement('script')
            scriptTag.innerHTML = tag.innerHTML
            document.body.appendChild(scriptTag)
            })
        }
    </script>
    <%-data.script%>
</body>

</html>