<main>


    <div class="recent-reservations">
        <h2>Recent Reservations</h2>
        <table>
            <thead>
                <tr>
                    <th>Reservation Type</th>
                    <th>Contact Number</th>
                    <th>Holder Name</th>
                    <th>Reservation Time</th>
                    <th>Payment</th> 
                    <th>Seat ID</th>
                </tr>
            </thead>
            <tbody>
                <!-- I can use a loop to dynamically generate rows here using EJS. -->
                <tr>
                    <td>Cubicle</td>
                    <td>7668722367</td>
                    <td>Dirghayu Joshi</td>
                    <td>21/09/2022 9-17</td>
                    <td>₹800</td>
                    <td>32</td>
                    <td class="primary">Details</td>
                </tr>
                <!-- Shift + option + Arrowup or arrowdown -->
                <tr>
                    <td>Cubicle</td>
                    <td>7668722367</td>
                    <td>Dirghayu Joshi</td>
                    <td>21/09/2022 9-17</td>
                    <td>₹800</td>
                    <td>32</td>
                    <td class="primary">Details</td>
                </tr>
                <tr>
                    <td>Cubicle</td>
                    <td>7668722367</td>
                    <td>Dirghayu Joshi</td>
                    <td>21/09/2022 9-17</td>
                    <td>₹800</td>
                    <td>32</td>
                    <td class="primary">Details</td>
                </tr>
                <tr>
                    <td>Cubicle</td>
                    <td>7668722367</td>
                    <td>Dirghayu Joshi</td>
                    <td>21/09/2022 9-17</td>
                    <td>₹800</td>
                    <td>32</td>
                    <td class="primary">Details</td>
                </tr>
                <tr>
                    <td>Cubicle</td>
                    <td>7668722367</td>
                    <td>Dirghayu Joshi</td>
                    <td>21/09/2022 9-17</td>
                    <td>₹800</td>
                    <td>32</td>
                    <td class="primary">Details</td>
                </tr>
            </tbody>
        </table> 
        <a href="#">Show All</a>
    </div>
</main> 